.quiz-list-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .heading {
    text-align: center;
    color: #333;
  }
  
  .quiz-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .quiz-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
  }
  
  .options-list {
    list-style-type: none;
    padding: 0;
  }
  
  .options-list li {
    margin-bottom: 5px;
  }
  
  .answer {
    margin-top: 10px;
    color: #009688; 
  }
  
  .difficulty-level {
    margin-top: 10px;
    color: #f44336; 
  }
  
  .category {
    margin-top: 10px;
    color: #673ab7; 
  }
  